<?xml version="1.0" encoding="UTF-8"?>
<!--
Advanced IIS Configuration for ISAPI Filter
This configuration can be applied using IIS Manager or through App Service Configuration
-->
<configuration>
  <configSections>
    <sectionGroup name="system.applicationHost">
      <section name="sites" />
      <section name="webLimits" />
      <section name="isapiCgiRestriction" />
    </sectionGroup>
  </configSections>
  
  <system.applicationHost>
    
    <!-- ISAPI and CGI Restrictions -->
    <isapiCgiRestriction>
      <!-- Allow your ISAPI DLL to execute -->
      <add path="D:\home\site\wwwroot\bin\YourISAPIFilter.dll" 
           allowed="true" 
           groupId="DelphiISAPI" 
           description="Delphi ISAPI Filter" />
    </isapiCgiRestriction>
    
    <!-- Web Limits Configuration -->
    <webLimits 
      connectionTimeout="00:02:00" 
      dynamicIdleThreshold="150" 
      headerWaitTimeout="00:00:15" 
      minBytesPerSecond="240" />
    
    <!-- Sites Configuration -->
    <sites>
      <site name="Default Web Site" id="1">
        <application path="/">
          <virtualDirectory path="/" physicalPath="D:\home\site\wwwroot" />
        </application>
        
        <!-- Bindings -->
        <bindings>
          <binding protocol="http" bindingInformation="*:80:" />
          <binding protocol="https" bindingInformation="*:443:" />
        </bindings>
        
        <!-- Site-specific configuration -->
        <applicationDefaults applicationPool="DefaultAppPool" />
        
        <!-- ISAPI Filter Configuration at Site Level -->
        <filters>
          <filter name="DelphiISAPIFilter" 
                  path="D:\home\site\wwwroot\bin\YourISAPIFilter.dll" 
                  enabled="true" />
        </filters>
        
      </site>
    </sites>
    
  </system.applicationHost>
  
  <system.webServer>
    
    <!-- Modules Configuration -->
    <modules>
      <!-- Ensure ISAPI module is loaded -->
      <add name="IsapiModule" image="%windir%\System32\inetsrv\isapi.dll" />
      <add name="IsapiFilterModule" image="%windir%\System32\inetsrv\filter.dll" />
    </modules>
    
    <!-- Global Modules (if needed) -->
    <globalModules>
      <add name="IsapiModule" image="%windir%\System32\inetsrv\isapi.dll" />
      <add name="IsapiFilterModule" image="%windir%\System32\inetsrv\filter.dll" />
    </globalModules>
    
    <!-- Request Filtering - Extended Configuration -->
    <security>
      <requestFiltering>
        
        <!-- File Extensions -->
        <fileExtensions allowUnlisted="true" applyToWebDAV="true">
          <add fileExtension=".dll" allowed="true" />
          <add fileExtension=".exe" allowed="false" />
          <add fileExtension=".bat" allowed="false" />
          <add fileExtension=".cmd" allowed="false" />
        </fileExtensions>
        
        <!-- Request Limits -->
        <requestLimits 
          maxAllowedContentLength="104857600" 
          maxQueryString="2048" 
          maxUrl="4096">
          
          <!-- Header Limits -->
          <headerLimits>
            <add header="Content-Type" sizeLimit="100" />
          </headerLimits>
          
        </requestLimits>
        
        <!-- Hidden Segments -->
        <hiddenSegments applyToWebDAV="true">
          <add segment="bin" />
          <add segment="App_Data" />
        </hiddenSegments>
        
        <!-- Verbs -->
        <verbs allowUnlisted="true" applyToWebDAV="true">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="HEAD" allowed="true" />
          <add verb="PUT" allowed="false" />
          <add verb="DELETE" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
        
      </requestFiltering>
      
      <!-- IP Security (if needed) -->
      <!--
      <ipSecurity allowUnlisted="true" denyAction="NotFound">
        <add allowed="true" ipAddress="192.168.1.0" subnetMask="255.255.255.0" />
      </ipSecurity>
      -->
      
    </security>
    
    <!-- Caching Configuration -->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".dll" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".dapi" policy="DisableCache" kernelCachePolicy="DisableCache" />
      </profiles>
    </caching>
    
    <!-- Output Caching -->
    <outputCaching>
      <rules>
        <add wildcard="*.dll" enabled="false" />
        <add wildcard="*.dapi" enabled="false" />
      </rules>
    </outputCaching>
    
    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    
    <!-- Logging -->
    <httpLogging>
      <customFields>
        <add logFieldName="X-Forwarded-For" sourceName="X-Forwarded-For" sourceType="RequestHeader" />
        <add logFieldName="User-Agent" sourceName="User-Agent" sourceType="RequestHeader" />
      </customFields>
    </httpLogging>
    
    <!-- Performance Settings -->
    <serverRuntime 
      alternateHostName="" 
      appConcurrentRequestLimit="5000" 
      enabled="true" 
      enableNagling="false" 
      maxRequestEntityAllowed="4294967295" 
      uploadReadAheadSize="49152" />
    
  </system.webServer>
  
  <!-- Application Pool Configuration (for reference) -->
  <!--
  <system.applicationHost>
    <applicationPools>
      <add name="DefaultAppPool">
        <processModel 
          identityType="ApplicationPoolIdentity" 
          loadUserProfile="true" 
          setProfileEnvironment="true" />
        <recycling>
          <periodicRestart time="1.05:00:00" />
        </recycling>
        <failure 
          loadBalancerCapabilities="HttpLevel" 
          orphanWorkerProcess="false" 
          orphanActionExe="" 
          rapidFailProtection="true" 
          rapidFailProtectionInterval="00:05:00" 
          rapidFailProtectionMaxCrashes="5" 
          autoShutdownExe="" 
          autoShutdownParams="" />
        <cpu action="NoAction" limit="0" resetInterval="00:05:00" />
      </add>
    </applicationPools>
  </system.applicationHost>
  -->
  
</configuration>
